{% extends 'bundles/FOSUserBundle/layout.html.twig' %}

{% block fos_user_content %}
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="bg-{{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}

            {{ form_start(form) }}


            {{ form_end(form) }}
{% endblock fos_user_content %}